.Boxes {
  margin: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
}

.Boxes-btn {
  background-color: green;
  color: azure;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.5s;
}
